@import url('https://fonts.googleapis.com/css?family=Slackey');
@font-face {
    font-family: 'Pokemon';
    src: url(./Pokemon\ Solid.ttf);
}
body {
    font-family: 'Slackey';
    background: skyblue;
}
h1, #jumbo {
    font-size: 5em;
    color: rgb(255,203,6);
    text-shadow: .05em .05em 0 rgb(36,105,189),
                 -.05em -.05em 0 rgb(36,105,189), 
                 -.05em .05em 0 rgb(36,105,189), .05em 
                 -.05em 0 rgb(36,105,189);
    text-align: center;
    font-family: 'Pokemon','Slackey';
}
h1 {
    padding: 10px;
    letter-spacing: .1em;
    transform-origin: center;
}
h1::first-letter {
    font-size: 1.3em;
    letter-spacing: 0;
}

h1, h2, h3 {
    margin: 20px;
}
#jumbo {
    position: fixed;
    box-sizing: border-box;
    top: 0;
    padding-top: 20%;
    left:0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.7);
}
#roundCounter {
    box-sizing: border-box;
    width: 100%;
    padding: 1em;
    text-align: center;
}
h2 { 
    font-size: 2em;
}

h3 {
    font-size: 3em;
}

.countdown {
animation: count 200ms ease-in-out;
}
@keyframes count {
    0%,100% {transform: scale(1);color: rgb(255,203,6);}
    50% {transform: scale(1.4); color: rgb(237, 28, 36);}
}

#currentWord {
    width: 100%;
    height: 50%;
    letter-spacing: .2em;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

#incorrect {
    font-size: 2em;
    letter-spacing: .2em;
    width: 100%;
    height: 50%;
    object-fit: contain;
}
.wrapper {
    position: relative;
    width: 90vw;
    margin: 3em auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.hidden {
    display: none;
}
.pokemon {
    position: absolute;
}

#silhouette {
    z-index: 1;
    transition-duration: 1.5s;
}
.dashboard {
    width: 25%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: aliceblue;
    border: 10px solid red;
    border-radius: 10px;
    align-items: center;
    box-shadow: 3px 3px 10px -4px rgba(0,0,0.3);
}
table, tr, td, th {
    font-size: 1.25em;
    padding: 10px;
    width: 100%;
    text-align: center;
}

#img-container {
    width: 250px;
    height: 250px;
}

.pokeball::after {
    content: url(../images/Pokeball.svg);
    width: 10px;
    height: 10px;
}